<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MicroGridApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1A294EE1C9B9C2300818EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1A295021C9B9C2300818EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1A2950D1C9B9C2300818EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
